.main-box {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 850px) {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.sidebar {
  max-width: 250px;
  width: 35%;

  @media screen and (max-width: 850px) {
    width: 100%;
    padding: 0 35px;
  }
}

.container {
  display: flex;
  max-width: 980px;
  width: 65%;
  flex-wrap: wrap;
  padding: 50px;
  box-sizing: border-box;
  background: rgba(114, 114, 114, 0.05);

  //opacity: 0.1;
  
  @media screen and (max-width: 910px) {
    padding: 25px;
  }

  @media screen and (max-width: 850px) {
    width: 100%;
  }
}

.mouse-select__frame {
  background: blue;
  opacity: .2;
}