.container {
  display: flex;
  max-width: 980px;
  width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 100px;
}

.mouse-select__selectable {
  width: 100px;
  height: 100px;
  margin: 10px;
  border: 1px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background: red;
}

.mouse-border-select {
  background: red;
  opacity: .5;
  position: absolute;
  display: none;
}

.mouse-border-select--open {
   display: block;
 }